<!-- Headings -->
<h1>Level 1 Heading</h1>
<h2>Level 2 Heading</h2>
<h3>Level 3 Heading</h3>
<h4>Level 4 Heading</h4>
<h5>Level 5 Heading</h5>
<h6>Level 6 Heading</h6>

<!-- Borders -->
<div class="border-demo-box ba margin-bottom--sm">ba = border all</div>
<div class="border-demo-box bt margin-bottom--sm">bt = border top</div>
<div class="border-demo-box br margin-bottom--sm">br = border right</div>
<div class="border-demo-box bb margin-bottom--sm">bb = border bottom</div>
<div class="border-demo-box bl margin-bottom--sm">bl = border left</div>

