<div class="flex flex--center-y bb" data-theme='beko'>
  <div class="color-box text--center">Beko</div>
  <div class="typography-box">Aa</div>
  <div class="color-variable">--color-primary: #0083BE</div>
</div>
<div class="flex flex--center-y bb" data-theme='hoover'>
  <div class="color-box text--center">Hoover</div>
  <div class="typography-box">Aa</div>
  <div class="color-variable">--color-primary: #DD052b</div>
</div>
<div class="flex flex--center-y bb" data-theme='candy'>
  <div class="color-box text--center">Candy</div>
  <div class="typography-box">Aa</div>
  <div class="color-variable">--color-primary: #00AEE6</div>
</div>
<div class="flex flex--center-y bb" data-theme='hotpoint'>
  <div class="color-box text--center">Hotpoint</div>
  <div class="typography-box">Aa</div>
  <div class="color-variable">--color-primary: #1FB5BE</div>
</div>
