<div class="container container--adaptive-lg ba">

  <!-- <div class="grid gap-xs" data-theme='beko'>
    <div class="child col-6">1</div>
    <div class="child col-6">2</div>
    <div class="child col-12">3</div>
  </div> -->
  <!-- Responsive Grid Example -->
  <div class="parent grid gap-xs" data-theme='hoover'>
    <div class="col-6@sm"></div>
    <div class="col-6@sm"></div>
    <div class="col-3@md"></div>
    <div class="col-3@md"></div>
    <div class="col-3@md"></div>
    <div class="col-3@md"></div>
    <div class="col-2@lg"></div>
    <div class="col-2@lg"></div>
    <div class="col-2@lg"></div>
    <div class="col-2@lg"></div>
    <div class="col-2@lg"></div>
    <div class="col-2@lg"></div>
  </div>
  
</div>  