<div class="container container--adaptive-lg ba margin-y-md">
  <!-- Responsive Grid Example -->
  <div class="parent grid gap-xs" data-theme='hoover'>
    <div class="col-6@sm"></div>
    <div class="col-6@sm"></div>
    <div class="col-3@md"></div>
    <div class="col-3@md"></div>
    <div class="col-3@md"></div>
    <div class="col-3@md"></div>
    <div class="col-2@lg"></div>
    <div class="col-2@lg"></div>
    <div class="col-2@lg"></div>
    <div class="col-2@lg"></div>
    <div class="col-2@lg"></div>
    <div class="col-2@lg"></div>
  </div>
  
</div>  