<div class="container typography">
  <!-- Font-family -->
  <h4 class="padding-top-xs padding-bottom-xs font-italic text-underline">Font family</h4>
  <p class="text-xs padding-top-xs padding-bottom-xs">--font-primary</p>
  <p class="text-lg">The quick brown fox jumps over the lazy dog</p>

  <!--Type Scale -->
  <h4 class="padding-top-xs padding-bottom-xs margin-top-md font-italic text-underline">Type Scale</h4>
  <p class="text-xs padding-top-xs padding-bottom-xs">--text-xxxxl</p>
  <p class="text-xxxxl border-bottom padding-y-xxxs">Display Text Huge</p>
  <p class="text-xs padding-top-xs padding-bottom-xs">--text-xxxl</p>
  <p class="text-xxxl border-bottom padding-y-xxxs">Heading 1</p>
  <p class="text-xs padding-top-xs padding-bottom-xs">--text-xxl</p>
  <p class="text-xxl border-bottom padding-y-xxxs">Heading 2</p>
  <p class="text-xs padding-top-xs padding-bottom-xs">--text-xl</p>
  <p class="text-xl border-bottom padding-y-xxxs">Heading 3</p>
  <p class="text-xs padding-top-xs padding-bottom-xs">--text-md</p>
  <p class="text-md border-bottom padding-y-xxxs">Heading 4</p>
  <p class="text-xs padding-top-xs padding-bottom-xs">--text-base</p>
  <p class="text-base border-bottom padding-y-xxxs">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis modi, voluptate temporibus, voluptas dicta quibusdam iste dolores repudiandae aperiam tenetur, delectus laborum nobis nostrum consectetur error perspiciatis. Cum laudantium velit provident veritatis corrupti reiciendis iure, architecto ab perferendis, laboriosam voluptatum minima vero.
  </p>
  <p class="text-xs padding-top-xs padding-bottom-xs">--text-sm</p>
  <p class="text-sm border-bottom padding-y-xxxs">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis modi, voluptate temporibus, voluptas dicta quibusdam iste dolores repudiandae aperiam tenetur, delectus laborum nobis nostrum consectetur error perspiciatis. Cum laudantium velit provident veritatis corrupti reiciendis iure, architecto ab perferendis, laboriosam voluptatum minima vero.
  </p>
  <p class="text-xs padding-top-xs padding-bottom-xs">--text-xs</p>
  <p class="text-xs border-bottom padding-y-xxxs">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis modi, voluptate temporibus, voluptas dicta quibusdam iste dolores repudiandae aperiam tenetur, delectus laborum nobis nostrum consectetur error perspiciatis. Cum laudantium velit provident veritatis corrupti reiciendis iure, architecto ab perferendis, laboriosam voluptatum minima vero.
  </p>

  <!-- Responsive text size classes - also affected by the typescale -->
  <h4 class="padding-top-xs padding-bottom-xs margin-top-md font-italic text-underline">Responsive text sizes</h4>
  <p class="text-xs padding-top-xs padding-bottom-xs">--text-xs | --text-sm@sm | --text-base@md | --text-md@lg | --text--lg@xl</p>
  <p class="text-xs text-sm@sm text-base@md text-md@lg text-lg@xl padding-bottom-xs padding-top-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis modi, voluptate temporibus, voluptas dicta quibusdam iste dolores repudiandae aperiam tenetur, delectus laborum nobis nostrum consectetur error perspiciatis. Cum laudantium velit provident veritatis corrupti reiciendis iure, architecto ab perferendis, laboriosam voluptatum minima vero.
  </p>

  <!-- Font weights -->
  <h4 class="padding-top-xs padding-bottom-xs font-italic text-underline">Font weights</h4>
  <p class="text-xs padding-top-xs padding-bottom-xs">.font-light | .font-normal | .font-medium | .font-semibold | .font-bold</p>
  <p class="font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p class="font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p class="font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p class="font-semibold">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p class="font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

  <!-- Letter spacing -->
  <h4 class="padding-top-xs padding-bottom-xs font-italic text-underline">Letter spacing</h4>
  <p class="text-xs padding-top-xs padding-bottom-xs">.letter-spacing-sm | .letter-spacing-md | .letter-spacing-lg</p>
  <p class="letter-spacing-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p class="letter-spacing-md">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p class="letter-spacing-lg margin-bottom-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>
