<div class="container padding-y-sm">
  <!-- Border position -->
  <div class="border-demo-box margin-bottom-xs border">.border</div>
  <div class="border-demo-box margin-bottom-xs border-bottom">.border bottom</div>
  <div class="border-demo-box margin-bottom-xs border-top">.border-top</div>
  <div class="border-demo-box margin-bottom-xs border-right">.border-right</div>
  <div class="border-demo-box margin-bottom-xs border-left">.border left</div>
  <!-- Border thickness-->
  <div class="border-demo-box margin-bottom-xs border border-2">.border-2</div> 
  <div class="border-demo-box margin-bottom-xs border border-3">.border-3</div> 
  <div class="border-demo-box margin-bottom-xs border border-4">.border-4</div>
  <!-- Border black and white-->
  <div class="border-demo-box margin-bottom-xs border border-black">.border-black</div> 
  <div class="border-demo-box margin-bottom-xs border border-white">.border-white</div> 
  <!-- Border contrasts - gray -->
  <div class="border-demo-box margin-bottom-xs border border-contrast-lower">.border-contrast-lower</div>
  <div class="border-demo-box margin-bottom-xs border border-contrast-low">.border-contrast-low</div>
  <div class="border-demo-box margin-bottom-xs border border-contrast-medium">.border-contrast-medium</div>
  <div class="border-demo-box margin-bottom-xs border border-contrast-high">.border-contrast-high</div>
  <div class="border-demo-box margin-bottom-xs border border-contrast-higher">.border-contrast-higher</div>
  <!-- Border contrasts - primary -->
  <div class="border-demo-box margin-bottom-xs border border-primary-darker">.border-primary-darker</div>
  <div class="border-demo-box margin-bottom-xs border border-primary-dark">.border-primary-dark</div>
  <div class="border-demo-box margin-bottom-xs border border-primary">.border-primary</div>
  <div class="border-demo-box margin-bottom-xs border border-primary-light">.border-primary-light</div>
  <div class="border-demo-box margin-bottom-xs border border-primary-lighter">.border-primary-lighter</div>
  <!-- Border contrasts - accent -->
  <div class="border-demo-box margin-bottom-xs border border-accent-darker">.border-accent-darker</div>
  <div class="border-demo-box margin-bottom-xs border border-accent-dark">.border-accent-dark</div>
  <div class="border-demo-box margin-bottom-xs border border-accent">.border-accent</div>
  <div class="border-demo-box margin-bottom-xs border border-accent-light">.border-accent-light</div>
  <div class="border-demo-box margin-bottom-xs border border-accent-lighter">.border-accent-lighter</div>
  <!-- Border contrasts - success -->
  <div class="border-demo-box margin-bottom-xs border border-success-darker">.border-success-darker</div>
  <div class="border-demo-box margin-bottom-xs border border-success-dark">.border-success-dark</div>
  <div class="border-demo-box margin-bottom-xs border border-success">.border-success</div>
  <div class="border-demo-box margin-bottom-xs border border-success-light">.border-success-light</div>
  <div class="border-demo-box margin-bottom-xs border border-success-lighter">.border-success-lighter</div>
  <!-- Border contrasts - warning -->
  <div class="border-demo-box margin-bottom-xs border border-warning-darker">.border-warning-darker</div>
  <div class="border-demo-box margin-bottom-xs border border-warning-dark">.border-warning-dark</div>
  <div class="border-demo-box margin-bottom-xs border border-warning">.border-warning</div>
  <div class="border-demo-box margin-bottom-xs border border-warning-light">.border-warning-light</div>
  <div class="border-demo-box margin-bottom-xs border border-warning-lighter">.border-warning-lighter</div>
  <!-- Border contrasts - error -->
  <div class="border-demo-box margin-bottom-xs border border-error-darker">.border-error-darker</div>
  <div class="border-demo-box margin-bottom-xs border border-error-dark">.border-error-dark</div>
  <div class="border-demo-box margin-bottom-xs border border-error">.border-error</div>
  <div class="border-demo-box margin-bottom-xs border border-error-light">.border-error-light</div>
  <div class="border-demo-box margin-bottom-xs border border-error-lighter">.border-error-lighter</div>
  <!-- Border opacity -->
  <div class="border-demo-box margin-bottom-xs border border-black border-opacity-90%">.border-opacity-90%</div>
  <div class="border-demo-box margin-bottom-xs border border-black border-opacity-80%">.border-opacity-80%</div>
  <div class="border-demo-box margin-bottom-xs border border-black border-opacity-70%">.border-opacity-70%</div>
  <div class="border-demo-box margin-bottom-xs border border-black border-opacity-60%">.border-opacity-60%</div>
  <div class="border-demo-box margin-bottom-xs border border-black border-opacity-50%">.border-opacity-50%</div>
  <div class="border-demo-box margin-bottom-xs border border-black border-opacity-40%">.border-opacity-40%</div>
  <div class="border-demo-box margin-bottom-xs border border-black border-opacity-30%">.border-opacity-30%</div>
  <div class="border-demo-box margin-bottom-xs border border-black border-opacity-20%">.border-opacity-20%</div>
  <div class="border-demo-box margin-bottom-xs border border-black border-opacity-10%">.border-opacity-10%</div>

</div>
